services:
  homebox:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        - COMMIT=head
        - BUILD_TIME=0001-01-01T00:00:00Z
      x-bake:
        platforms:
            - linux/amd64
            - linux/arm64
            - linux/arm
    environment:
      - HBOX_DEBUG=true
      - HBOX_LOGGER_LEVEL=-1
      - HBOX_LOG_LEVEL=info
      - HBOX_LOG_FORMAT=text
      - HBOX_WEB_MAX_FILE_UPLOAD=10
      - HBOX_OPTIONS_ALLOW_ANALYTICS=false
    ports:
      - 3100:7745
    volumes:
      - /mnt/shared/docker/homebox/data:/data/
