services:
  homebox:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        COMMIT: head
        BUILD_TIME: "0001-01-01T00:00:00Z"
    image: homebox
    container_name: homebox
    restart: always
    environment:
      - HBOX_LOG_LEVEL=info
      - HBOX_LOG_FORMAT=text
      - HBOX_WEB_MAX_FILE_UPLOAD=10
      - HBOX_OPTIONS_ALLOW_ANALYTICS=false
    volumes:
      - /mnt/shared/docker/homebox/data:/data/
    ports:
      - 3100:7745
